Repository sergrage/monsters_invasion_defense_game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx,css,scss}'
      run: yarn run lint
    stylelint:
      glob: '*.{css,scss}'
      run: yarn run lint:styles
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss}'
      run: yarn run format
      stage_fixed: true

fix for test
  .dockeringore
  .github/workflows/checks.yml
  Dockerfile.client
  Dockerfile.server
  package.json
  packages/client/src/assets/icons/index.ts
  packages/client/src/endpoints/apiUrl.ts
  packages/client/src/services/apiFetch/apiFetch.ts
  packages/client/src/services/apiFetch/apiFetch.type.ts
  packages/client/src/store/index.ts
Due: lint, prettier

fixes for tests
  lefthook.yml
  packages/client/src/App.test.tsx
  packages/client/src/App.tsx
Due: lint, prettier

fixes for test
  packages/client/package.json
  packages/server/package.json
Due: none

add react router
  .editorconfig
  .github/pull_request_template.md
  .stylelintrc.json
  README.md
  docker-compose.yml
  init.js
  lefthook.yml
  packages/client/index.html
  packages/client/nginx.conf
  packages/client/package.json
  packages/client/public/vite.svg
  packages/client/src/App.tsx
  packages/client/src/assets/icons/index.ts
  packages/client/src/client.d.ts
  packages/client/src/components/Layout/index.tsx
  packages/client/src/components/Layout/style.module.scss
  packages/client/src/components/header/index.tsx
  packages/client/src/components/header/style.module.scss
  packages/client/src/endpoints/apiUrl.ts
  packages/client/src/main.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/pages/forum/style.module.scss
  packages/client/src/pages/game/index.tsx
  packages/client/src/pages/game/style.module.scss
  packages/client/src/pages/login/index.tsx
  packages/client/src/pages/login/style.module.scss
  packages/client/src/pages/routes.ts
  packages/client/src/pages/signup/index.tsx
  packages/client/src/pages/signup/style.module.scss
  packages/client/tsconfig.json
  packages/server/package.json
  yarn.lock
Due: lint, stylelint, prettier

add react router
  packages/client/tsconfig.json
Due: none

feat: add arco & squada fonts
  packages/client/src/assets/fonts/ARCO.woff2
  packages/client/src/assets/fonts/SquadaOne-Regular.woff2
Due: none

refactor: remove redundant react import & coma
  packages/client/src/App.tsx
  packages/client/src/main.tsx
Due: lint, prettier

feat: add round btn element
  packages/client/src/ui/round-button/index.tsx
  packages/client/src/ui/round-button/style.module.scss
Due: lint, stylelint, prettier

style: import new fonts, add common btn style
  packages/client/src/assets/styles/main.scss
Due: lint, stylelint, prettier

feat: add flat btn element
  packages/client/src/ui/flat-button/index.tsx
  packages/client/src/ui/flat-button/style.module.scss
Due: lint, stylelint, prettier

style: upd 'h' el styles, add input style
  packages/client/src/assets/styles/main.scss
Due: lint, stylelint, prettier

style: upd main style
  packages/client/src/components/Layout/style.module.scss
Due: lint, stylelint, prettier

feat: add auth form, endpoint
  packages/client/src/endpoints/apiUrl.ts
  packages/client/src/pages/login/index.tsx
Due: lint, prettier

feat: add form input
  packages/client/src/ui/exotic-input/index.tsx
Due: lint, prettier

feat: add fetch hook
  packages/client/src/hooks/useFetch.tsx
Due: lint, prettier

feat: add disabled logic for btn, upd btn hover style
  packages/client/src/pages/login/index.tsx
  packages/client/src/ui/flat-button/style.module.scss
Due: lint, stylelint, prettier

feat: add dangerous flat btn
  packages/client/src/ui/flat-button/index.tsx
  packages/client/src/ui/flat-button/style.module.scss
Due: lint, stylelint, prettier

style: upd transition
  packages/client/src/ui/flat-button/style.module.scss
Due: lint, stylelint, prettier

style: add form & input styles (dull version)
  packages/client/src/pages/login/style.module.scss
  packages/client/src/ui/exotic-input/style.module.scss
  packages/client/src/ui/flat-button/style.module.scss
Due: lint, stylelint, prettier

style: upd dangerous color
  packages/client/src/ui/exotic-input/style.module.scss
Due: lint, stylelint, prettier

style: add small upd
  packages/client/src/assets/styles/main.scss
  packages/client/src/pages/login/style.module.scss
  packages/client/src/ui/exotic-input/style.module.scss
Due: lint, stylelint, prettier

refactor: remove main header
  packages/client/src/components/Layout/index.tsx
Due: lint, prettier

refactor: upd comments, misc changes
  packages/client/src/pages/login/index.tsx
  packages/client/src/ui/exotic-input/index.tsx
Due: lint, prettier

refactor: move fonts to fonts.css
  packages/client/src/assets/styles/fonts.scss
  packages/client/src/assets/styles/main.scss
Due: lint, stylelint, prettier

feat: add class props, remove header
  packages/client/src/components/Layout/index.tsx
Due: lint, prettier

style: set height style to 100%
  packages/client/src/components/Layout/style.module.scss
Due: lint, stylelint, prettier

style: add variables, small style upds, upd components naming
  packages/client/src/assets/styles/vairables.scss
  packages/client/src/pages/login/style.module.scss
  packages/client/src/ui/flat-button/style.module.scss
  packages/client/src/ui/flat_button/index.tsx
  packages/client/src/ui/flat_button/style.module.scss
  packages/client/src/ui/input/index.tsx
  packages/client/src/ui/input/style.module.scss
  packages/client/src/ui/round_button/index.tsx
  packages/client/src/ui/round_button/style.module.scss
  packages/client/src/ui/title/style.module.scss
Due: lint, stylelint, prettier

refactor: change imports places
  packages/client/src/App.tsx
  packages/client/src/main.tsx
Due: lint, prettier

refactor: add layout, layout page style, upd naming
  packages/client/src/pages/login/index.tsx
  packages/client/src/pages/login/style.module.scss
Due: lint, stylelint, prettier

refactor: change to arrow functions
  packages/client/src/hooks/useFetch.tsx
  packages/client/src/pages/login/index.tsx
  packages/client/src/ui/flat_button/index.tsx
  packages/client/src/ui/input/index.tsx
  packages/client/src/ui/round_button/index.tsx
  packages/client/src/ui/zombie_error/index.tsx
Due: lint, prettier

feat: add zombie error
  packages/client/src/assets/images/error-zombies/index.ts
  packages/client/src/assets/images/error-zombies/zombie1.svg
  packages/client/src/assets/images/error-zombies/zombie2.svg
  packages/client/src/assets/images/error-zombies/zombie3.svg
  packages/client/src/assets/images/error-zombies/zombie4.svg
  packages/client/src/assets/images/error-zombies/zombie5.svg
  packages/client/src/assets/images/error-zombies/zombie6.svg
  packages/client/src/ui/zombie_error/index.tsx
  packages/client/src/ui/zombie_error/style.module.scss
Due: lint, stylelint, prettier

commit;
  packages/client/src/game/classes/behavioral/observer/index.js
  packages/client/src/game/classes/creational/EnemiesGenerator.js
  packages/client/src/game/classes/creational/mapGenerator.js
  packages/client/src/game/classes/creational/tilesGenerator.js
  packages/client/src/game/classes/game/game.js
  packages/client/src/game/classes/gameEntities/Building.js
  packages/client/src/game/classes/gameEntities/Enemy.js
  packages/client/src/game/classes/gameEntities/PlacementTile.js
  packages/client/src/game/classes/gameEntities/Projectile.js
  packages/client/src/game/classes/gameEntities/Sprite.js
  packages/client/src/pages/game/index.tsx
Due: lint, prettier

refactor: upd naming
  packages/client/src/assets/img/errorZombies/index.ts
  packages/client/src/assets/img/errorZombies/zombie1.svg
  packages/client/src/assets/img/errorZombies/zombie2.svg
  packages/client/src/assets/img/errorZombies/zombie3.svg
  packages/client/src/assets/img/errorZombies/zombie4.svg
  packages/client/src/assets/img/errorZombies/zombie5.svg
  packages/client/src/assets/img/errorZombies/zombie6.svg
  packages/client/src/assets/styles/vairables.scss
  packages/client/src/pages/login/index.tsx
  packages/client/src/pages/login/style.module.scss
  packages/client/src/ui/flatButton/index.tsx
  packages/client/src/ui/flatButton/style.module.scss
  packages/client/src/ui/flat_button/style.module.scss
  packages/client/src/ui/input/index.tsx
  packages/client/src/ui/input/style.module.scss
  packages/client/src/ui/title/style.module.scss
  packages/client/src/ui/zombie_error/index.tsx
  packages/client/src/ui/zombie_error/style.module.scss
Due: lint, stylelint, prettier

refactor: add classnames lib
  packages/client/package.json
  packages/client/src/components/Layout/index.tsx
  packages/client/src/ui/flatButton/index.tsx
  packages/client/src/ui/input/index.tsx
  packages/client/src/ui/round_button/index.tsx
Due: lint, prettier

refactor: add squada & passion font import
  packages/client/src/assets/fonts/SquadaOne-Regular.woff2
  packages/client/src/assets/styles/fonts.scss
  packages/client/src/assets/styles/main.scss
  packages/client/src/pages/login/style.module.scss
  packages/client/src/ui/input/style.module.scss
Due: lint, stylelint, prettier

add pages 404 and 500, add ui: image, loader
  .DS_Store
  packages/.DS_Store
  packages/client/package.json
  packages/client/public/vite.svg
  packages/client/src/App.tsx
  packages/client/src/assets/img/error404.png
  packages/client/src/assets/img/error500.png
  packages/client/src/assets/styles/fonts.scss
  packages/client/src/assets/styles/main.scss
  packages/client/src/client.d.ts
  packages/client/src/components/Layout/index.tsx
  packages/client/src/components/Layout/style.module.scss
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/style.module.scss
  packages/client/src/endpoints/apiUrl.ts
  packages/client/src/pages/error/index.tsx
  packages/client/src/pages/error/style.module.scss
  packages/client/src/pages/forum/index.tsx
  packages/client/src/pages/game/index.tsx
  packages/client/src/pages/login/index.tsx
  packages/client/src/pages/routes.ts
  packages/client/src/pages/signup/index.tsx
  packages/client/src/ui/image/index.tsx
  packages/client/src/ui/image/style.module.scss
  packages/client/src/ui/loader/index.tsx
  packages/client/src/ui/loader/style.module.scss
  packages/client/src/ui/title/index.tsx
  packages/client/src/ui/title/style.module.scss
  yarn.lock
Due: lint, stylelint, prettier

fixes for pre-commit
  packages/client/src/ui/loader/style.module.scss
Due: lint, stylelint, prettier

upd gitingonre
  .gitignore
Due: none

fix deps
  packages/client/package.json
Due: none

fixes after bugs of stylelint
  packages/client/src/client.d.ts
Due: lint, prettier
